<template>
  <div class="home">
    <!-- <Base :num="1" msg="aaa" count="count" /> -->
    <h1>{{ name }}</h1>
    <h1>CI/CD测试</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Base from "@/components/Base";
@Component({
  components: {
    Base
  }
})
export default class Home extends Vue {
  name = process.env.VUE_APP_NAME;
}
</script>
