<template>
  <div>
    <h3>data、methods、计算属性、生命周期钩子</h3>
    <div>{{ msg }}</div>
    <div>{{ count }}:{{ doubleCount }}</div>
    <button @click="handleClick">click!</button>
  </div>
</template>

<script lang="ts">
import { mixins } from "vue-class-component";
import { Component, Vue } from "vue-property-decorator";

import { Hello, World } from "./mixins/mixins";
// class Mixin extends Vue {
//   hello = "Hello";
//   mounted() {
//     console.log("mixins mounted!");
//   }
// }

@Component({
  name: "Base",
  props: {},
  watch: {}
})
export default class extends mixins(Hello, World) {
  private msg = "Hello TS + Vue";
  count = 0;
  // data() {
  //   return {
  //     count: 0
  //   };
  // }
  handleClick() {
    this.count = this.count + 1;
    this.msg = "msg Change";
  }
  get doubleCount() {
    return this.count * 2;
  }
  mounted() {
    console.log(this.hello, this.world);

    console.log("mounted");
  }
  updated() {
    console.log("updated");
  }
  // beforeRouteEnter(to, from, next: Function) {
  //   console.log("beforeRouteEnter");
  //   next();
  // }

  // beforeRouteUpdate(to, from, next: Function) {
  //   console.log("beforeRouteUpdate");
  //   next();
  // }

  // beforeRouteLeave(to, from, next: Function) {
  //   console.log("beforeRouteLeave");
  //   next();
  // }
}
</script>

<style scoped></style>
