<template>
  <div>
    <h3>{{ msg }}</h3>
    <h3>{{ count }}</h3>
    <h3>{{ num }}</h3>
  </div>
</template>

<script lang="ts">
import "reflect-metadata";
import { Component, Vue, Prop, PropSync } from "vue-property-decorator";

@Component({
  name: "Props"
})
export default class extends Vue {
  // @Prop(String) readonly msg: string | undefined;
  @Prop() readonly msg: string | undefined;
  // @Prop([String, Number]) readonly count!: string | number;
  @Prop() readonly count!: string | number;
  // @Prop({
  //   required: true,
  //   type: Number
  // })
  // readonly num!: number;
  @Prop({
    required: true,
    default: 1
  })
  readonly num!: number;
  @PropSync("name", { type: String }) syncedName!: string;
}
</script>

<style scoped></style>
